<center>
<h1>Create a Viewing Party</h1>

<%= form_with url: '/parties', method: :post, local: true do |f| %>
  <h3>Movie: <%= @movie[:title] %></h3>
  <%= f.hidden_field :movie_title, value: @movie[:title] %>
  <%= f.label :party_duration %>
  <%= f.text_field :party_duration, placeholder: @movie[:runtime] %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :start_time %>
  <%= f.time_field :start_time %>
  <% current_user.friends.each do |friend| %>
    <%= f.check_box(friend.name) %>
  <% end %>
  <%= f.submit 'Create Party' %>
<% end %>
</center>
