<h1> <%=@movie_stats[:title]%> </h1>
<%= button_to "Create Viewing Party for Movie", '/party/new', method: :get %>
<p>Vote Average: <%=@movie_stats[:vote_average]%> </p>
<p>Runtime: <%=hour_min(@movie_stats[:runtime])%> </p>
 <p>Genre(s): <%@movie_stats[:genres].each do |genre| %>
  <%=genre[:name]%>
 <% end %> </p>
<p>Summary: <%=@movie_stats[:overview]%> </p>
