<div class="w3-content w3-container w3-padding-54" id="welcome-pg">
  <h1 class="w3-center">New User Registration</h1>
</div>



<form action="/login" method="post">
  <div class="container">
    <label for="name"><strong><%= label_tag :name %></strong></label>
    <input type="text" placeholder="Name" name="name" required>

    <label for="email"><strong><%= label_tag :email %></strong></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="password"><strong><%= label_tag :password %></strong></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="psw-conf"><strong><%= label_tag :password_confirmation %></strong></label>
    <input type="password" placeholder="Password Confirmation" name="psw-conf" required>

    <button type="submit" class="registerbtn"> <%= submit_tag "Register" %></button>
  </div>
</form>
