<center>
  <h1>Welcome to Viewing Party!</h1>
  <h3>Viewing Party is an app</h3>

  <%= form_with url: "/login", method: :post, local: true do %>
  <div class="form-group">
    <div class="col-md-6">
      <%= label_tag(:email) %>
      <%= text_field_tag(:email)  %>
    </div>
  </div>
    <%= label_tag(:password) %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Log In", class:"btn btn-primary") %>
  <% end %>

  <%= button_to 'Register New User', '/registration', method: :get %>
</center>
